
<style>
      .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .formcontent {
  width: 100%;
  max-width: 450px;
  position: relative;
}
  .wd{
    width:17%;
  }
  label{
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
}
.row{
    justify-content: center;
}
  input{
      margin-top: 8px;
  }
  @media screen and (max-width: 600px) {
  .wd {
    width:55%;
  }
}
</style>

<div class="wrapper">
    <div class="wd">
        <div class="col-md-12" style="display:flex;justify-content:space-around;">
            <button class="btn btn-primary" id="automatic">
            Automatic
        </button>
        
        <button class="btn btn-primary" id="manual">
            Manually
        </button>
        </div>
<hr>

    </div>
</div>

<div class="wrapper">
    <div class="formcontent">
            <form action="/token/generatetoken" method="POST" style="display: none;" id="formmanual">
                <div class="row flex">
                <label class="col-md-2 col-sm-2">Token:</label>
                <input type="text" class="form-control col-md-10 col-sm-10" name="token" id="token" placeholder="enter token" required>
                <span class="text-danger"></span>
                <label class="col-md-2 col-sm-2" for="text">Limit:</label>
                <input type="number" class="form-control col-md-10 col-sm-10" name="limit" id="count" placeholder="enter request limit" required>
                <label class="col-md-2 col-sm-2" for="text">Type:</label>
                    <select name="type" class="form-control col-md-10 col-sm-10" id="sel1" style="margin-top: 8px;" required>
                        <option value="" selected disabled>Application type</option>
                      <option value="urlParser">Url parser</option>
                      <option value="invoice">Invoice Generate</option>
                    </select>
                 
                <button class="btn btn-primary" style="margin-top: 10px;" id="btngenerate">
                    Generate token
                </button>
                </div>
            </form>
            <form action="/token/generatetoken" method="POST" style="display: none;" id="formautomatic">
                <div class="row flex">
                <label class="col-md-2 col-sm-2">Limit:</label>
                <input type="number" class="form-control col-md-10 col-sm-10" name="limit" id="count" placeholder="enter request limit" required>
                
                <label class="col-md-2 col-sm-2">Type:</label>
                    <select name="type" class="form-control col-md-10 col-sm-10" id="sel1" style="margin-top: 8px;" required>
                      <option value="" selected disabled>Application type</option>
                      <option value="urlParser">Url parser</option>
                      <option value="invoice">Invoice Generate</option>
                    </select>
                 
                <button class="btn btn-primary" style="margin-top: 10px;">
                    Generate token
                </button>
            </div>
            </form>
        
    </div>
</div>
<script>
    $(function(){

        $("#manual").on('click',function(){
            $("#formmanual").show();
            $("#formautomatic").hide();
        });
        $("#automatic").on('click',function(){
            $("#formmanual").hide();
            $("#formautomatic").show();
        });
        $("#btngenerate").on('click',function(e){
            e.preventDefault();
            var token=$("#token").val();
            var limit=$("#count").val();
            $.ajax({
                url:"/token/generatetoken",
                method:"POST",
                data:{token,limit},
                cache:false,
                success:function(res){
                    console.log(res.token)
                    if(res.token){
                        $(".text-danger").text("token already exists")
                    }
                    else{
                        window.location.replace("/token");
                    }
                },
                error:function(){
                    alert("error")
                }

            })
        })
    })
    
</script>